/* 14px */
.text-small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
}

/* 16px */
.text-medium {
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
}

/* 20px */
.text-large {
  font-size: 1.25rem;
  line-height: 120%;
}

/* Utilitário para forçar herança de cor quando necessário */
.text-inherit {
  color: inherit;
}
