.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  width: 100%;
}

@media screen and (max-width: 1175px) {
  .container {
    max-width: 500px;
    gap: 18px;
  }
}
