.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  max-width: 700px;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .container {
    gap: 33px;
  }
}

@media screen and (max-width: 1260px) {
  .container {
    gap: 15px;
    max-width: 500px;
  }
}

@media screen and (max-width: 1030px) {
  .container {
    gap: 20px;
    max-width: 400px;
  }
}

@media screen and (max-width: 855px) {
  .container {
    gap: 30px;
  }
}
