.container {
  display: flex;
  align-items: center;
  background-color: #141414;
  color: #fff;
  margin-right: 25px;
  overflow: hidden;

  .content {
    display: flex;
    justify-content: center;
  }

  .title {
    max-width: 300px;
    margin-top: 95px;
    color: #fff;
    font-size: 51px;
    line-height: 60px;
  }

  .card {
    position: relative;
    max-width: 520px;
    padding: 20px 25px;
    border: 1px solid #707070;
    border-radius: 10px;
    background-color: #0f0f0f;

    .cardImage {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
      transform: translateY(-50%);
    }

    .imageContainer {
      position: relative;
      height: 160px;
      width: 160px;
      border: 4px solid #43b0ff;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }

    .cardTitle {
      font-size: 46px;
      color: #fff;
    }

    .cardSubtitle {
      margin-top: 10px;
      color: #5db9fa;
      font-size: 18px;
      font-weight: 400;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 5px;

      .email {
        height: 12px;
      }

      .telefone {
        height: 18px;
      }
    }

    a.socialMedia {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 10px;
      border-radius: 10px;
      background-color: #292929;
      transition: all 0.1s ease-out;

      &:active,
      &:focus,
      &:hover {
        background-color: #fff;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 80px 0;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      max-width: 290px;
      margin: 0 auto;
      font-size: 30px;
      line-height: 38px;
      text-align: center !important;
    }

    .card {
      margin-top: 130px;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 470px) {
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      margin: 0;
      text-align: left !important;
    }

    .card {
      padding: 10px 25px 20px;

      .cardTitle {
        font-size: 32px;
        line-height: 34px;
      }

      .cardSubtitle {
        margin-top: 0;
        font-size: 12px;
      }

      .textContainer {
        margin-top: 10px;
      }
    }
  }
}
