.container {
  display: flex;
  align-items: center;
  background-color: #141414;
  color: #fff;
  margin-right: 25px;
  overflow: hidden;

  .content {
    display: flex;
    justify-content: center;
  }

  .card {
    position: relative;
    max-width: 520px;
    padding: 28px;
    border: 1px solid #707070;
    border-radius: 10px;
    background-color: #0f0f0f;

    .cardImage {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
      transform: translateY(-50%);
    }

    .imageContainer {
      position: relative;
      height: 160px;
      width: 160px;
      border: 4px solid #43b0ff;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }

    .cardSubtitle {
      margin-top: 10px;
      color: #5db9fa;
      font-size: 18px;
      font-weight: 400;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      p {
        font-size: 18px;
      }

      div {
        p {
          font-size: 14px;
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 5px;

      .email {
        height: 12px;
      }

      .telefone {
        height: 18px;
      }
    }

    a.socialMedia {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 10px;
      border-radius: 10px;
      background-color: #292929;
      transition: all 0.1s ease-out;

      &:active,
      &:focus,
      &:hover {
        background-color: #fff;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    .card {
      padding: 18px;

      .imageContainer {
        height: 140px;
        width: 140px;
      }
    }
  }

  @media screen and (max-width: 1260px) {
    .card {
      max-width: 450px;
      padding: 30px 20px;

      .textContainer {
  
        p {
          font-size: 14px;
        }
  
        div {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1030px) {
    .card {
      max-width: 400px;
      padding: 15px 20px;

      h1 {
        font-size: 26px;
      }

      h3 {
        font-size: 26px;
      }

      .cardSubtitle {
        margin-top: 5px;
      }

      .imageContainer {
        height: 130px;
        width: 130px;
      }
    }
  }
}

@media screen and (max-width: 885px) {
  .container {
    margin: 0;

    .card {
      .imageContainer {
        height: 140px;
        width: 140px;
      }
    }
  }
}
