.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  color: #fff;
  margin-right: 25px;
  overflow: hidden;

  .content {
    display: flex;
    justify-content: center;
  }

  .card {
    position: relative;
    max-width: 450px;
    padding: 45px 25px 38px 25px;
    border: 1px solid #707070;
    border-radius: 10px;
    background-color: #0f0f0f;

    .cardImage {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 20px;
      transform: translateY(-50%);
    }

    .imageContainer {
      position: relative;
      height: 150px;
      width: 150px;
      border: 4px solid #43b0ff;
      border-radius: 50%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }

    .heading {
      margin-top: 60px;
    }

    .cardSubtitle {
      margin-top: 20px;
      color: #5db9fa;
      font-weight: 400;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 10px;
      max-width: 550px;
      width: 100%;
    }

    .contact {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 15px;

      .email {
        height: 12px;
      }

      .telefone {
        height: 18px;
      }
    }

    .social {
      display: flex;
      margin-top: 40px;
      align-items: center;
    }

    a.socialMedia {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 10px;
      border-radius: 10px;
      background-color: #292929;
      transition: all 0.1s ease-out;

      &:active,
      &:focus,
      &:hover {
        background-color: #fff;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1175px) {
  .container {
    .content {
      .card {
        padding: 35px 25px;
      }

      .heading {
        margin-top: 40px;
      }

      .cardSubtitle {
        margin-top: 10px;
      }

      .contact {
        margin-top: 15px;
        gap: 10px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .container {
    .content {
      .card {
        padding: 25px 25px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin-right: 0;
    margin-bottom: 18px;

    .card {
      max-width: 500px;

      .cardImage {
        position: absolute;
        top: 80px;
        left: 0;
        margin-left: 20px;
        transform: translateY(-50%);
      }

      .imageContainer {
        position: relative;
        height: 150px;
        width: 150px;
        border: 4px solid #43b0ff;
        border-radius: 50%;
        overflow: hidden;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }

      .heading {
        margin-top: 140px;
      }
    }
  }
}
