.container {
  display: flex;
  align-items: center;
  background-color: #141414;
  color: #fff;

  .content {
    width: 100%;

    .card {
      padding: 17px 20px;
      border: 1px solid #707070;
      border-radius: 10px;
      max-width: 600px;
      background-color: #0f0f0f;

      .button {
        color: #6a6a6a;
        font-family: "MontSerrat", sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .button:hover {
        background-color: rgba(112, 112, 112, 0.06);
      }

      .lineShadow {
        border: 1px solid #4b4b4b;
        margin-top: 10px;
        width: 100%;
      }
    }

    .certificates {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 15px;

      .certificatesCard {
        display: flex;
        align-items: center;
        background-color: #1d1d1d;
        border-radius: 10px;
        gap: 10px;
        max-width: 450px;
      }

      .certificatesImages {
        height: 65px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    .content {
      .card {
        .mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .button {
          font-size: 12px;
        }

        .lineShadow {
          margin-top: 0;
        }
      }
    }
  }
}
