:root {
  --primary: #0289EA;
  --primaryDark: #005491;
  --secondary: #13d255;
  --text: #171717;
  --error: #ef0000;
  --success: #0dac3d;
  --warn: #ca2d51;
  --gray: #4A4A4A;
  --background: #F5F5F5;
  --black: #000000;
  --white: #ffffff;
}