@use "../../../styles/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 25rem;
  margin-top: 6rem;
  background-color: var(--gray-600);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;

  @include media-md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-lg {
    grid-template-columns: repeat(3, 1fr);
  }
}
