// ===== WRAPPER DO ÍCONE =====
.iconWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-radius: 0.5rem;

  @media (prefers-reduced-motion: no-preference) {
    transition: background 250ms ease-out;
  }

  svg {
    width: 3rem;
    height: 3rem;
    color: var(--yellow);
    flex-shrink: 0;
  }
}
