.container {
  display: flex;
  align-items: center;
  background-color: #141414;
  color: #fff;

  .content {
    width: 100%;
    .card {
      padding: 17px 20px;
      border: 1px solid #707070;
      border-radius: 10px;
      max-width: 600px;
      background-color: #0f0f0f;
    }

    .lineShadow {
      border: 1px solid #4b4b4b;
      margin-top: 10px;
      width: 100%;
    }

    .skills {
      display: flex;
      gap: 15px;
      margin-top: 15px;

      .imageSkills {
        height: 45px;
      }
    }
  }
}

@media screen and (max-width: 1175px) {
  .container {
    .content {
      .card {
        .projects {
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    justify-content: center;
    align-items: center;

    .content {
      .card {
        .lineShadow {
          margin-top: 5px;
        }

        .skills {
          .imageSkills {
            height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    justify-content: center;
    align-items: center;

    .content {
      .card {
        h3 {
          text-align: center;
        }

        .skills {
          gap: 10px;
          justify-content: center;

          .imageSkills {
            height: 30px;
          }
        }
      }
    }
  }
}
