.container {
  gap: 1rem;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875rem;
  padding: 0.8125rem 1rem;
  border-radius: 2rem;
  background-color: var(--gray-400);
  width: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: var(--gray-200);
}
