.container {
  display: flex;
  align-items: center;
  background-color: #141414;
  color: #fff;

  .content {
    width: 100%;

    .card {
      padding: 17px 20px;
      border: 1px solid #707070;
      border-radius: 10px;
      max-width: 600px;
      background-color: #0f0f0f;

      .button {
        color: #6a6a6a;
        font-family: "MontSerrat", sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .button:hover {
        background-color: rgba(112, 112, 112, 0.06);
      }

      .lineShadow {
        border: 1px solid #4b4b4b;
        margin-top: 10px;
        width: 100%;
      }

      .projects {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        overflow-y: scroll;
        height: 150px;

        .projectCard {
          display: flex;
          align-items: center;
          background-color: #1d1d1d;
          border-radius: 10px;
          gap: 10px;
        }

        .projectsImages {
          height: 60px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        .arrow {
          margin-left: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 1175px) {
  .container {
    .content {
      .card {
        .projects {
          height: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .container {
    .content {
      .card {
        .lineShadow {
          margin-top: 0;
        }

        .projects {
          height: 110px;

          .projectsImages {
            height: 40px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          .arrow {
            margin-left: 110px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 455px) {
  .container {
    .content {
      .card {
        .button {
          font-size: 12px;
        }

        .mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .projects {
          .projectsImages {
            height: 35px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          .arrow {
            margin-left: 60px;

            .button {
              padding: 0;
              min-width: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 365px) {
  .container {
    .content {
      .card {
        .projects {
          .projectCard {
            div {
              font-size: 10px;
              line-height: 15px;
            }
          }

          .projectsImages {
            height: 30px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          .arrow {
            margin-left: 0;

            .button {
              padding: 0;
              min-width: 0;
            }
          }
        }
      }
    }
  }
}
