.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 50px;

  .projectsImages {
    height: 302px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .projectsCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1d1d1d;
    border-radius: 10px;
    padding: 10px;
    text-transform: none;
    max-width: 620px;

    .button {
      padding: 5px 10px;

      a {
        size: 12px;
        font-weight: 600;
        color: #6a6a6a;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .projects {
    padding-top: 25px;
    .projectsImages {
      height: 200px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .projectsCard {
      max-width: 410px;
    }
  }
}
